{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />
{% if album.id == 1  %}
<img src="{% static 'music/images/picture_0.jpg' %}">
{% else %}
<img src="{% static 'music/images/picture_1.jpg' %}">
{% endif %}
<h1>{{ album.album_title }}</h1>
<h3>{{ artist }}</h3>

<ul>
  {% for song in album.song_set.all %}
  <li>{{ song.song_title }} -- {{ song.file_type }}</li>
  {% endfor %}
</ul>
<h2>題目列表</h2>
{% if latest_question_list %}
  <ul>
  {% for question in latest_question_list %}
      <li><a href="/music/{{ album.id }}/results_{{ question.id }}/">{{ question.question_text }}</a></li>
        <form action="{% url 'music:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
        <input type="radio" name="choice"  value="{{ choice.id }}" />{{ choice.choice_text }}
        {% endfor %}
        <input type="submit" value="Vote" />
        </form>
  {% endfor %}
  </ul>


{% else %}
  <p>No polls are available.</p>
{% endif %}
